.container {
  margin-top: 100px;
}

h1,
p {
  text-align: center;
}

li {
  padding: 10px;
  margin: 0;
  border: 1px solid #eee;
  position: relative;
  top: -1px;
  border-top: 0px;
}

li:first-child {
  border-top: 1px solid #eee;
}

.song-author {
  color: #aaa;
  margin-left: 5px;
}

.column-title {
  width: 80%;
}
